.header-wrapper {
  @include bg-gradient;
  @include custom-shadow;
  
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);

  .header-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;

    img {
      width: 40px;
      height: 40px;
    }

    p {
      margin-left: 16px; 
      font-size: 28px;
      line-height: 45px;
    }
  }
};