.image-lists {
  display: flex;
  flex-wrap: wrap;
  padding: 1vw 0.2vw;

  .image-lists-outer {
    width: 32%;
    cursor: pointer;
    margin: 0.2vw;

    div {
      height: 12vw;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
    }
    }
  }
  .case-of-null {
    color: #888;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 56px;

    p {
      margin-top: 24px;
    }
  }
