.image-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1vw 0.8vw;

  .image-lists-outer {
    width: 49%;
    margin-bottom: 2px;
    cursor: pointer;

    div {
      height: 16vw;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin-bottom: 0.5vw;
    }
    }
  }
  .case-of-null {
    color: #888;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 56px;

    p {
      margin-top: 24px;
    }
  }
