.resent-post-component-outer {

  .like-button-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 25vw;
    margin: 12px auto 24px;
    
    div {
      width: 10vw;
      margin: 0 8px;
      padding-bottom: 4px;
      border-bottom: 1px solid #ccc;
    }
    p {
      color: #444;
    }
    .want-icon-true {
      color: rgb(255, 0, 34);
      cursor: pointer;
    }
    .favorite-icon-true {
      color: rgb(204, 238, 14);
      cursor: pointer;
    }
    .clothete-icon-true {
      color: #44B26B;
      cursor: pointer;
    }
    .icon {
      cursor: pointer;
    }
  }
}

.item-detail-component-wrapper {

  .like-button-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 30vw;
    margin: 12px auto 24px;
    
    div {
      width: 10vw;
      margin: 0 8px;
      padding-bottom: 4px;
      border-bottom: 1px solid #ccc;
    }
    p {
      color: #444;
    }
    .want-icon-true {
      color: rgb(255, 0, 34);
      cursor: pointer;
    }
    .favorite-icon-true {
      color: rgb(204, 238, 14);
      cursor: pointer;
    }
    .clothete-icon-true {
      color: #44B26B;
      cursor: pointer;
    }
    .icon {
      cursor: pointer;
    }
  }

}