.message-screen-wapper {
  height: 92vh;
  width: 25vw;
  overflow: scroll;
  background-color:whitesmoke;
  padding: 8px;

  .message-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin: 40px 0 10px;
    font-weight: bold;
    p {
      margin-left: 8px;
    }
  }

  .message-person {
    display: flex;
    justify-content: space-between;
    height: 87px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 8px;
    overflow: hidden;
    cursor: pointer;
    .user-image-area {
      height: 87px;
      width: 24%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 0;
      background-color: rgba(0,0,0,0.7);
      .user-image {
        width: 4.5vw;
        height: 4.5vw;
        background-position: center;
        background-size: cover;
        border-radius: 300px;
      }
    }
    .message-person-center {
      width: 76%;
      height: 87px;
      padding: 8px 16px 0;
      position: relative;
      p:nth-child(1) {
        font-weight: bold;
        margin-bottom: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p:nth-child(2) {
        color: #aaa;
        font-size: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      p:nth-child(3) {
        position: absolute;
        bottom: 0;
        right: 0;
        display: inline-block;
        margin-top: auto;
        background-color: rgba(0,0,0,0.7);
        font-size: 11px;
        color: white;
        padding: 4px;
        border-top-left-radius: 4px;
      }
    }
  }
}

.message-screen-wapper::-webkit-scrollbar {
  display:none;
}