.visitor-wrapper {
  width: 25vw;
  height: 92vh;
  background-color:whitesmoke;
  .visitor-inner{
    width: 60%;
    height: 92vh;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.7);
  }

  .visitor-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px 0 6px;
    margin-bottom: 16px;
    border-bottom: 1px solid white;
    .icon {
      font-size: 2.4vw;
      padding-bottom: 0.3vw; 
    }
    p {
      display: inline;
      font-size: 1.2vw;
    }
  }
}

