.coming-customer-wrapper {
  border-right: 1px solid #777;
  height: 92vh;
  width: 25vw;
  overflow: scroll;
  background-color:whitesmoke;
  padding: 8px;
}

.coming-customer-wrapper::-webkit-scrollbar {
  display:none;
}